.navbar {
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: var(--app-popup-top);
	box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3);
}

.navbar-item {
	align-self: center;
	margin: 0;
}

/* navbar hamburger */
.navbar-menu {
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
}

.navbar-menu > .middle {
	width: 100%;
	height: 2px !important;
	background: var(--app-menu-text);
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	transform: translateY(13px);
}

.navbar-menu > .middle:before,
.navbar-menu > .middle:after {
	content: "";
	width: 100%;
	height: 2px !important;
	background: var(--app-menu-text);
	position: absolute;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

.navbar-menu > .middle:before {
	transform: translateY(-400%);
}

.navbar-menu > .middle:after {
	transform: translateY(400%);
}

.menu-tapped {
	position: relative;
}

.menu-tapped .middle {
	background: transparent;
	transition: 0.01s ease;
}

.menu-tapped .middle:before {
	transform: rotate(45deg) translate(3%, -7%);
}

.menu-tapped .middle:after {
	transform: rotate(-45deg) translate(-0%, -3%);
}

/* navbar name */
.navbar-name {
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navbar-search-holder {
	display: flex;
	gap: 15px;
}

.navbar-about-me {
	background: var(--app-menu-text);
	color: var(--app-background);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	padding: 3px 15px;
	border-radius: 40px;
	opacity: 0.7;
	font-weight: bold;
	transition: 0.3s ease;
}

.navbar-about-me:hover {
	padding-right: 20px;
}

/* ===== NAV BAR SEARCH CONTAINER ===== */
.navbar-search-container {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 7;
	color: #fff;
	overflow: auto;
	padding: 15px;
	padding-top: 70px;
}

.navbar-search-inner {
	max-width: 500px;
	height: 100%;
	margin: auto;
	flex-direction: column;
}

.navbar-search-txtbox {
	flex-shrink: 0;
	width: 100%;
	height: 45px;
	outline: none;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 5px 12px;
	padding-left: 40px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 7px;
	background-image: url(../ico/input-search.svg);
	background-position: 10px;
	background-size: 13px;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3) inset;
	margin-bottom: 20px;
}

/* sort box */
.navbar-search-sort-box {
	gap: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	padding: 4px;
}

.navbar-sort-type {
	padding: 5px 10px;
	min-width: 90px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

.navbar-sort-selected {
	color: var(--app-background);
	border-radius: 5px;
	background: rgba(255, 255, 255, 1);
}

/* element list */
.navbar-search-tab-container {
	flex: 6;
	overflow: auto;
}

.navbar-search-tab-box {
	flex-direction: column;
}

.navbar-search-tab {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background: var(--app-background);
	border-radius: 5px;
}

.navbar-search-tab-symbol {
	flex-shrink: 0;
	background: green;
	width: 60px;
	display: grid;
	place-items: center;
	border-radius: 5px;
	font-size: 25px;
}

.navbar-search-tab-main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 7px 10px;
}

/* .navbar-search-tab-value{
	padding: 0 7px;
} */

.navbar-search-tab-value label {
	opacity: 0.5;
	font-size: 10px;
	text-transform: uppercase;
}

.navbar-sm-circle {
	width: 30px;
	height: 30px;
	/* background-color: #fff; */
	background-color: var(--app-menu-text);
	border-radius: 50%;
	display: grid;
	place-items: center;
	opacity: 0.5;
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

.navbar-sm-circle:hover {
	opacity: 1;
}

.navbar-sm-circle img {
	width: 15px;
	height: 15px;
	object-fit: contain;
}

@media screen and (max-width: 480px) {
	.navbar-hide-mobile {
		display: none;
	}
}
