
.workarea{
  /* component styles will be here */
  padding: 15px;
}

.workarea > * {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.workarea-elements{
  display: grid;
  grid-template-columns: repeat(18, var(--element-dimension));
  grid-template-rows: repeat(10, var(--element-dimension));
  grid-gap: 4px;
}

.element{
  background: var(--app-menu);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.element-atomic-no{
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  top: 7px;
  left: 7px;
  display: table;
  flex: 0;
}

.element-symbol{
  font-size: 35px;
  padding-top: 7px;
  font-weight: 700;
  padding-top: 7px;
  flex: 6;
}

.element-name{
  font-size: 10px;
  letter-spacing: 0.54px;
  flex: 3;
  text-transform: capitalize;
}