
/* Color Palettes */
:root{
  --app-background: #313740;
  --app-column-counter: #1e2128;
  --app-row-counter: #252a32;
  --app-menu: #36383d;
  --app-menu-text: #fbfbfb;
  --app-popup-top: #323942;
  --app-popup-text: #2c3039;
  --app-popup-background: #fefefe;
  --element-dimension: 68px;
}

*{
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: var(--app-background);
  color: var(--app-menu-text);
  overflow: auto;
}

/* centers */
.centroid {
  max-width: 1440px;
  margin: auto;
  padding: 10px;
}